.tasks {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 0.3rem;
  width: 450px;
  padding-right: 6em;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.tasks::-webkit-scrollbar {
  width: 2px;
}

.tasks::-webkit-scrollbar-track {
  background: transparent;
}

.tasks::-webkit-scrollbar-thumb {
  background: #888;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.taskUser {
  display: flex;
  align-items: center;
}

.checking {
  transform: scale(1.5);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  content: "✔";
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin-left: 10px;
}

input[type="checkbox"]:hover {
  background-color: var(--purpleWhite);
  transition: 0.3s;
}

input[type="checkbox"]:checked {
  background-color: var(--purple);
  transition: 0.3s;
  border: 0;
}

input[type="checkbox"]:checked:after {
  display: block;
  content: "✔";
  font-weight: 900;
  font-size: 0.6rem;
  color: white;
}

.taskdid {
  display: grid;
  grid-template-columns: 25px 200px repeat(3, 50px);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: anime 0.6s forwards;
  line-height: 1.2rem;
  padding: 1rem;
  background-color: var(--blackback);
}

.taskdid p {
  font-size: 0.9rem;
  line-break: anywhere;
  color: var(--white);
}

.delete {
  align-self: center;
  justify-self: start;
  color: rgb(255, 0, 0);
  font-size: 1.3rem;
  font-weight: 900;
  transition: 0.3s;
  font-size: 23px;
  grid-column: 5;
}

.delete:hover {
  cursor: pointer;
  transition: 0.3s;
  color: rgb(245, 167, 167);
}

.star {
  border: 0;
  background-color: transparent;
}

.star svg {
  height: 20px;
}

.star.active svg path {
  fill: rgb(152, 0, 253);
}

.star svg path {
  fill: white;
}

.pencil {
  background-color: transparent;
  border: 0;
  align-self: center;
  justify-self: end;
}
.pencil:hover {
  cursor: pointer;
}

.pencil svg {
  height: 20px;
}

@keyframes anime {
  from {
    transform: translateX(100px);
    opacity: 0.6;
  }
  to {
    opacity: initial;
  }
}

/*completed*/

.completed {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.openCompleted {
  background-color: var(--blackback);
  color: var(--white);
  max-width: fit-content;
  padding: 10px;
  border: 0px;
  margin: 0.6rem 0rem 0.2rem 0rem;
}

.completed div {
  padding: 1rem;
  background-color: var(--blackback);
}

.completed div p {
  color: var(--blackp);
}

.risk {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: 0 !important;
}
.risk::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--blackp);
}
