.tasks {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 0.3rem;
  width: 450px;
  margin-top: 30px;
  padding-right: 6em;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.tasks::-webkit-scrollbar {
  width: 2px;
}

.tasks::-webkit-scrollbar-track {
  background: transparent;
}

.tasks::-webkit-scrollbar-thumb {
  background: #888;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.taskUser {
  display: flex;
  align-items: center;
}

/*completed*/

.completed {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.openCompleted {
  background-color: var(--blackback);
  color: var(--white);
  max-width: fit-content;
  padding: 10px;
  border: 0px;
  margin: 0.6rem 0rem 0.2rem 0rem;
}

.completed div {
  padding: 1rem;
  background-color: var(--blackback);
}

.completed div p {
  color: var(--blackp);
}
