@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(240, 10%, 3.9%);
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

:root {
  --white: #fafafa;
  --whitec: rgb(204, 204, 204);
  --gray: #888888;
  --purple: rgb(149, 59, 245);
  --purpleWhite: rgb(210, 147, 255);
  --blackback: rgb(34, 34, 34);
  --blackp: rgb(128, 125, 125);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  height: 733px;
  width: 850px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.titlesPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.titleTo {
  display: flex;
  font-size: 2.5rem;
  color: var(--white);
}

.create {
  color: var(--gray);
}
 
strong {
  color: var(--whitec);
}

